<!doctype html>
<html>
<head>
    <title>FibServe</title>
    <script src="/static/bower_components/underscore/underscore.js"></script>
    <script src="/static/bower_components/backbone/backbone.js"></script>
    <script src="/static/bower_components/jquery/dist/jquery.js"></script>
    <script src="/static/bower_components/humane-js/humane.js"></script>
    <script src="/static/bower_components/notify.js/notify.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    {% block extracss %}{% endblock %}
</head>
<body>
    <h1>FibServe</h1>
    <div class="navigation">
        {% if g.user %}
            <a href="{{ url_for('logout') }}" >Logout</a>
        {% else %}
            <a href="{{ url_for('login') }}" >Login</a>
        {% endif %}
    </div>
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    <div class="body">
    {% block body %}{% endblock %}
    </div>
    <div class="footer">
        <hr/>
        FibServe &mdash; A Flask Application
    </div>
    {% block extrajs %}{% endblock %}
</body>
</html>
